.body-home {
    background-image: unset;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav__icon {
    padding: 5px !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__icon:hover {
    background-color: #eee;
}

.has-search-right {
    position: relative;
}

.has-search-right .form-control {
    padding-right: 2.375rem;
    border-radius: 25px;
    width: 250px;
    transition: width 0.5s;
}
.has-search-right input:focus {
    width: 300px;
}


.has-search-right .form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    color: #aaa;
}